<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Title Here {% endblock %} </title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_base.css') }}">
    {% endblock %}
  </head>
  <body>
    <div class="content-container">
      <div class="sidenav">
        {% block sidenav %}
        {% if sidenav %}
        {% for link in sidenav.links %}
        <a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
        {% endif %}
        {% endblock %}
      </div>
      <div class="content-container-item">
        <div class="main">
          {% block main %}
          <div class="grid-main">
            <div class="grid-main-item-main"></div>
            <div class="grid-main-item-action"></div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>

